.cube
	.cubeTransition(data-rotate='0')
		section.cube-side.back
			article
				h1 Back
		section.cube-side.top
			article
				h1 Top
		section.cube-side.bottom
			article
				h1 Bottom
		section.cube-side.front
			article
				h1 Front